[package]
name = "swap_or_not_shuffle"
version = "0.2.0"
authors = ["Paul Hauner <paul@paulhauner.com>"]
edition = { workspace = true }

[[bench]]
name = "benches"
harness = false

[dev-dependencies]
criterion = { workspace = true }

[dependencies]
alloy-primitives = { workspace = true }
ethereum_hashing = { workspace = true }
fixed_bytes = { workspace = true }

[features]
arbitrary = ["alloy-primitives/arbitrary"]
