[package]
name = "swap_or_not_shuffle"
version = "0.2.0"
authors = ["Paul Hauner <paul@paulhauner.com>"]
edition = "2018"

[[bench]]
name = "benches"
harness = false

[dev-dependencies]
criterion = "0.3.3"

[dependencies]
eth2_hashing = "0.2.0"
ethereum-types = "0.12.1"

[features]
arbitrary = ["ethereum-types/arbitrary"]
