[package]
name = "lighthouse"
version = "0.0.1"
authors = ["Paul Hauner <paul@paulhauner.com>"]

[dependencies]
blake2-rfc = "0.2.18"
bls-aggregates = { git = "https://github.com/sigp/signature-schemes" }
bytes = ""
crypto-mac = "^0.6.2"
clap = "2.32.0"
db = { path = "lighthouse/db" }
dirs = "1.0.3"
futures = "0.1.23"
rand = "0.3"
rlp = { git = "https://github.com/paritytech/parity-common" }
slog = "^2.2.3"
slog-term = "^2.4.0"
slog-async = "^2.3.0"
tokio = "0.1"

[dependencies.pairing]
git = "https://github.com/mmaker/pairing"
branch = "feature/hashing"

[patch.crates-io]
ring = { git = "https://github.com/paritytech/ring" }

[[bin]]
path = "lighthouse/main.rs"
name = "lighthouse"

[workspace]
members = [
	"beacon_chain/attestation_validation",
	"beacon_chain/block_validation",
	"beacon_chain/chain",
	"beacon_chain/naive_fork_choice",
	"beacon_chain/state-transition",
	"beacon_chain/types",
	"beacon_chain/utils/active-validators",
	"beacon_chain/utils/bls",
	"beacon_chain/utils/boolean-bitfield",
	"beacon_chain/utils/hashing",
	"beacon_chain/utils/honey-badger-split",
	"beacon_chain/utils/slot-clock",
	"beacon_chain/utils/ssz",
	"beacon_chain/utils/ssz_helpers",
	"beacon_chain/utils/vec_shuffle",
	"beacon_chain/validator_change",
	"beacon_chain/validator_induction",
	"beacon_chain/validator_shuffling",
	"lighthouse/db",
]
