[workspace]
members = [
	"eth2/attester",
	"eth2/block_producer",
	"eth2/fork_choice",
	"eth2/state_processing",
	"eth2/types",
	"eth2/utils/bls",
	"eth2/utils/boolean-bitfield",
	"eth2/utils/hashing",
	"eth2/utils/honey-badger-split",
	"eth2/utils/slot_clock",
	"eth2/utils/ssz",
	"eth2/utils/vec_shuffle",
	"beacon_node",
	"beacon_node/db",
	"beacon_node/beacon_chain",
	"beacon_node/beacon_chain/test_harness",
	"protos",
	"validator_client",
]
