[workspace]
members = [
	"eth2/fork_choice",
	"eth2/operation_pool",
	"eth2/state_processing",
	"eth2/types",
	"eth2/utils/bls",
	"eth2/utils/boolean-bitfield",
	"eth2/utils/cached_tree_hash",
	"eth2/utils/compare_fields",
	"eth2/utils/compare_fields_derive",
	"eth2/utils/fixed_len_vec",
	"eth2/utils/hashing",
	"eth2/utils/honey-badger-split",
	"eth2/utils/merkle_proof",
	"eth2/utils/int_to_bytes",
	"eth2/utils/serde_hex",
	"eth2/utils/slot_clock",
	"eth2/utils/ssz",
	"eth2/utils/ssz_derive",
	"eth2/utils/swap_or_not_shuffle",
	"eth2/utils/tree_hash",
	"eth2/utils/tree_hash_derive",
	"eth2/utils/fisher_yates_shuffle",
    "eth2/utils/test_random_derive",
	"beacon_node",
	"beacon_node/store",
	"beacon_node/client",
	"beacon_node/http_server",
	"beacon_node/network",
	"beacon_node/eth2-libp2p",
    "beacon_node/rpc",
	"beacon_node/version",
	"beacon_node/beacon_chain",
	"tests/ef_tests",
	"protos",
	"validator_client",
	"account_manager",
]
