[workspace]
members = [
	"eth2/lmd_ghost",
	"eth2/operation_pool",
	"eth2/state_processing",
	"eth2/types",
	"eth2/utils/bls",
	"eth2/utils/compare_fields",
	"eth2/utils/compare_fields_derive",
	"eth2/utils/eth2_config",
	"eth2/utils/eth2_interop_keypairs",
	"eth2/utils/logging",
	"eth2/utils/eth2_hashing",
	"eth2/utils/lighthouse_metrics",
	"eth2/utils/lighthouse_bootstrap",
	"eth2/utils/merkle_proof",
	"eth2/utils/int_to_bytes",
	"eth2/utils/serde_hex",
	"eth2/utils/slot_clock",
	"eth2/utils/ssz",
	"eth2/utils/ssz_derive",
	"eth2/utils/ssz_types",
	"eth2/utils/swap_or_not_shuffle",
	"eth2/utils/tree_hash",
	"eth2/utils/tree_hash_derive",
    "eth2/utils/test_random_derive",
	"beacon_node",
	"beacon_node/store",
	"beacon_node/client",
	"beacon_node/rest_api",
	"beacon_node/network",
	"beacon_node/eth2-libp2p",
    "beacon_node/rpc",
	"beacon_node/version",
	"beacon_node/beacon_chain",
	"beacon_node/websocket_server",
	"tests/ef_tests",
	"lcli",
	"protos",
	"validator_client",
	"account_manager",
]

[patch]
[patch.crates-io]
tree_hash = { path = "eth2/utils/tree_hash" }
tree_hash_derive = { path = "eth2/utils/tree_hash_derive" }
eth2_ssz = { path = "eth2/utils/ssz" }
eth2_ssz_derive = { path = "eth2/utils/ssz_derive" }
eth2_ssz_types = { path = "eth2/utils/ssz_types" }
