[workspace]
members = [
    "account_manager",

    "beacon_node",
    "beacon_node/beacon_chain",
    "beacon_node/client",
    "beacon_node/eth1",
    "beacon_node/eth2_libp2p",
    "beacon_node/network",
    "beacon_node/rest_api",
    "beacon_node/store",
    "beacon_node/timer",
    "beacon_node/version",
    "beacon_node/websocket_server",

	"boot_node",

    "common/clap_utils",
    "common/compare_fields",
    "common/compare_fields_derive",
    "common/deposit_contract",
    "common/eth2_config",
    "common/eth2_interop_keypairs",
    "common/eth2_testnet_config",
    "common/eth2_wallet_manager",
    "common/hashset_delay",
    "common/lighthouse_metrics",
    "common/logging",
    "common/remote_beacon_node",
    "common/rest_types",
    "common/slot_clock",
    "common/test_random_derive",
    "common/validator_dir",

    "consensus/cached_tree_hash",
    "consensus/int_to_bytes",
    "consensus/fork_choice",
    "consensus/proto_array",
    "consensus/safe_arith",
    "consensus/ssz",
    "consensus/ssz_derive",
    "consensus/ssz_types",
    "consensus/serde_hex",
    "consensus/state_processing",
    "consensus/swap_or_not_shuffle",
    "consensus/tree_hash",
    "consensus/tree_hash_derive",

    "crypto/bls",
    "crypto/eth2_hashing",
    "crypto/eth2_key_derivation",
    "crypto/eth2_keystore",
    "crypto/eth2_wallet",

    "lcli",

    "lighthouse",
    "lighthouse/environment",

    "testing/simulator",
    "testing/ef_tests",
    "testing/eth1_test_rig",
    "testing/node_test_rig",
    "testing/state_transition_vectors",

    "validator_client",
    "validator_client/slashing_protection",
]

[patch]
[patch.crates-io]
tree_hash = { path = "consensus/tree_hash" }
tree_hash_derive = { path = "consensus/tree_hash_derive" }
eth2_ssz = { path = "consensus/ssz" }
eth2_ssz_derive = { path = "consensus/ssz_derive" }
eth2_ssz_types = { path = "consensus/ssz_types" }
eth2_hashing = { path = "crypto/eth2_hashing" }
leveldb-sys = { git = "https://github.com/michaelsproul/leveldb-sys", branch = "v2.0.6-cmake" }
