[package]
name = "eth2_testnet"
version = "0.1.0"
authors = ["Paul Hauner <paul@paulhauner.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dev-dependencies]
tempdir = "0.3"

[dependencies]
serde = "1.0"
serde_json = "^1.0"
types = { path = "../../types"}
