[package]
name = "validator_client"
version = "0.1.2"
authors = ["Paul Hauner <paul@paulhauner.com>", "Age Manning <Age@AgeManning.com>", "Luke Anderson <luke@lukeanderson.com.au>"]
edition = "2018"

[lib]
name = "validator_client"
path = "src/lib.rs"

[dev-dependencies]
tokio = { version = "0.2.21", features = ["time", "rt-threaded", "macros"] }

[dependencies]
eth2_ssz = "0.1.2"
eth2_config = { path = "../common/eth2_config" }
tree_hash = "0.1.0"
clap = "2.33.0"
eth2_interop_keypairs = { path = "../common/eth2_interop_keypairs" }
slashing_protection = { path = "./slashing_protection" }
slot_clock = { path = "../common/slot_clock" }
rest_types = { path = "../common/rest_types" }
types = { path = "../consensus/types" }
serde = "1.0.110"
serde_derive = "1.0.110"
serde_json = "1.0.52"
slog = { version = "2.5.2", features = ["max_level_trace", "release_max_level_trace"] }
slog-async = "2.5.0"
slog-term = "2.5.0"
tokio = { version = "0.2.21", features = ["time"] }
futures = { version = "0.3.5", features = ["compat"] }
dirs = "2.0.2"
logging = { path = "../common/logging" }
environment = { path = "../lighthouse/environment" }
parking_lot = "0.11.0"
exit-future = "0.2.0"
libc = "0.2.69"
eth2_ssz_derive = "0.1.0"
hex = "0.4.2"
deposit_contract = { path = "../common/deposit_contract" }
bls = { path = "../crypto/bls" }
remote_beacon_node = { path = "../common/remote_beacon_node" }
tempdir = "0.3.7"
rayon = "1.3.0"
validator_dir = { path = "../common/validator_dir" }
clap_utils = { path = "../common/clap_utils" }
