[package]
name = "eth2_network_config"
version = "0.2.0"
authors = ["Paul Hauner <paul@paulhauner.com>"]
edition = "2021"

build = "build.rs"

[build-dependencies]
zip = "0.5.8"
eth2_config = { path = "../eth2_config"}

[dev-dependencies]
tempfile = "3.1.0"

[dependencies]
serde_yaml = "0.8.13"
serde_json = "1.0.58"
types = { path = "../../consensus/types"}
kzg = { path = "../../crypto/kzg" }
eth2_ssz = "0.4.1"
eth2_config = { path = "../eth2_config"}
discv5 = "0.2.2"
