[package]
name = "eth2_network_config"
version = "0.2.0"
authors = ["Paul Hauner <paul@paulhauner.com>"]
edition = "2021"

build = "build.rs"

[build-dependencies]
zip = "0.5.8"
eth2_config = { path = "../eth2_config"}

[dev-dependencies]
tempfile = "3.1.0"

[dependencies]
serde_yaml = "0.8.13"
types = { path = "../../consensus/types"}
ethereum_ssz = "0.5.0"
eth2_config = { path = "../eth2_config"}
discv5 = { git = "https://github.com/sigp/discv5", rev = "269b7f0fc73f85484b0c08929a8e7540ab5de20f" }