[package]
name = "network"
version = "0.2.0"
authors = ["Age Manning <Age@AgeManning.com>"]
edition = "2018"

[dev-dependencies]
sloggers = "0.3.4"
genesis = { path = "../genesis" }
tempdir = "0.3"
lazy_static = "1.4.0"

[dependencies]
beacon_chain =  { path = "../beacon_chain" }
store =  { path = "../store" }
eth2-libp2p =  { path = "../eth2-libp2p" }
hashmap_delay = { path = "../../eth2/utils/hashmap_delay" }
rest_types = { path = "../../eth2/utils/rest_types" }
types = { path = "../../eth2/types" }
slot_clock = { path = "../../eth2/utils/slot_clock" }
slog = { version = "2.5.2", features = ["max_level_trace"] }
hex = "0.3"
eth2_ssz = "0.1.2"
tree_hash = "0.1.0"
futures = "0.1.29"
error-chain = "0.12.1"
tokio = "0.1.22"
parking_lot = "0.9.0"
smallvec = "1.0.0"
# TODO: Remove rand crate for mainnet
rand = "0.7.2"
fnv = "1.0.6"
rlp = "0.4.3"
tokio-timer = "0.2.12"
matches = "0.1.8"
tempfile = "3.1.0"