[package]
name = "network"
version = "0.2.0"
authors = ["Sigma Prime <contact@sigmaprime.io>"]
edition = "2018"

[dev-dependencies]
sloggers = "2.0.2"
genesis = { path = "../genesis" }
matches = "0.1.8"
exit-future = "0.2.0"
slog-term = "2.6.0"
slog-async = "2.5.0"
logging = { path = "../../common/logging" }
environment = { path = "../../lighthouse/environment" }

[dependencies]
beacon_chain =  { path = "../beacon_chain" }
store =  { path = "../store" }
eth2_libp2p =  { path = "../eth2_libp2p" }
hashset_delay = { path = "../../common/hashset_delay" }
types = { path = "../../consensus/types" }
slot_clock = { path = "../../common/slot_clock" }
slog = { version = "2.5.2", features = ["max_level_trace"] }
hex = "0.4.2"
eth2_ssz = "0.4.0"
eth2_ssz_types = "0.2.1"
futures = "0.3.7"
error-chain = "0.12.4"
tokio = { version = "1.10.0", features = ["full"] }
tokio-stream = "0.1.3"
smallvec = "1.6.1"
rand = "0.7.3"
fnv = "1.0.7"
rlp = "0.5.0"
lazy_static = "1.4.0"
lighthouse_metrics = { path = "../../common/lighthouse_metrics" }
task_executor = { path = "../../common/task_executor" }
igd = "0.11.1"
itertools = "0.10.0"
num_cpus = "1.13.0"
lru_cache = { path = "../../common/lru_cache" }
if-addrs = "0.6.4"
strum = "0.21.0"
tokio-util = { version = "0.6.3", features = ["time"] }
