[package]
name = "boot_node"
version = "0.2.13"
authors = ["Sigma Prime <contact@sigmaprime.io>"]
edition = "2018"

[dependencies]
beacon_node = { path = "../beacon_node" }
clap = "2.33.3"
eth2_libp2p = { path = "../beacon_node/eth2_libp2p" } 
types = { path = "../consensus/types" } 
eth2_testnet_config = { path = "../common/eth2_testnet_config" } 
eth2_ssz = "0.1.2"
slog = "2.5.2"
sloggers = "1.0.1"
tokio = "0.2.22"
log = "0.4.11"
slog-term = "2.6.0"
logging = { path = "../common/logging" }
slog-async = "2.5.0"
slog-scope = "4.3.0"
slog-stdlog = "4.0.0"
futures = "0.3.5"
hex = "0.4.2"
