[package]
name = "types"
version = "0.2.0"
authors = ["Paul Hauner <paul@paulhauner.com>", "Age Manning <Age@AgeManning.com>"]
edition = "2018"

[[bench]]
name = "benches"
harness = false

[dependencies]
bls = { path = "../../crypto/bls" }
compare_fields = { path = "../../common/compare_fields" }
compare_fields_derive = { path = "../../common/compare_fields_derive" }
dirs = "2.0.2"
derivative = "2.1.1"
eth2_interop_keypairs = { path = "../../common/eth2_interop_keypairs" }
ethereum-types = "0.9.1"
eth2_hashing = "0.1.0"
hex = "0.4.2"
int_to_bytes = { path = "../int_to_bytes" }
log = "0.4.8"
merkle_proof = { path = "../merkle_proof" }
rayon = "1.3.0"
rand = "0.7.3"
safe_arith = { path = "../safe_arith" }
serde = "1.0.110"
serde_derive = "1.0.110"
slog = "2.5.2"
eth2_ssz = "0.1.2"
eth2_ssz_derive = "0.1.0"
eth2_ssz_types = { path = "../ssz_types" }
swap_or_not_shuffle = { path = "../swap_or_not_shuffle" }
test_random_derive = { path = "../../common/test_random_derive" }
tree_hash = "0.1.0"
tree_hash_derive = "0.2.0"
rand_xorshift = "0.2.0"
cached_tree_hash = { path = "../cached_tree_hash" }
serde_yaml = "0.8.11"
tempfile = "3.1.0"
rusqlite = { version = "0.23.1", features = ["bundled"], optional = true }
arbitrary = { version = "0.4.4", features = ["derive"], optional = true }

[dev-dependencies]
env_logger = "0.7.1"
serde_json = "1.0.52"
criterion = "0.3.2"

[features]
default = ["sqlite"]
sqlite = ["rusqlite"]
arbitrary-fuzz = [
  "arbitrary",
  "ethereum-types/arbitrary",
  "bls/arbitrary",
  "eth2_ssz/arbitrary",
  "eth2_ssz_types/arbitrary",
  "merkle_proof/arbitrary",
  "swap_or_not_shuffle/arbitrary",
  "tree_hash/arbitrary",
]
