[package]
name = "slashing_protection"
version = "0.1.0"
authors = ["Michael Sproul <michael@sigmaprime.io>", "pscott <scottpiriou@gmail.com>"]
edition = "2018"

[dependencies]
tempfile = "3.1.0"
types = { path = "../../consensus/types" }
tree_hash = "0.1.1"
rusqlite = { version = "0.25.3", features = ["bundled"] }
r2d2 = "0.8.9"
r2d2_sqlite = "0.18.0"
parking_lot = "0.11.0"
serde = "1.0.116"
serde_derive = "1.0.116"
serde_json = "1.0.58"
serde_utils = { path = "../../consensus/serde_utils" }
filesystem = { path = "../../common/filesystem" }

[dev-dependencies]
lazy_static = "1.4.0"
rayon = "1.4.1"
