[package]
name = "merkle_proof"
version = "0.1.0"
authors = ["Michael Sproul <michael@sigmaprime.io>"]
edition = "2018"

[dependencies]
ethereum-types = "0.5"
eth2_hashing = { path = "../eth2_hashing" }
