[package]
name = "lcli"
description = "Lighthouse CLI (modeled after zcli)"
version = "0.2.0"
authors = ["Paul Hauner <paul@paulhauner.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = "2.33.0"
hex = "0.3"
log = "0.4.8"
serde = "1.0.102"
serde_yaml = "0.8.11"
simple_logger = "1.3.0"
types = { path = "../eth2/types" }
state_processing = { path = "../eth2/state_processing" }
eth2_ssz = "0.1.2"
regex = "1.3.1"
eth1_test_rig = { path = "../tests/eth1_test_rig" }
futures = "0.1.25"
environment = { path = "../lighthouse/environment" }
web3 = "0.10.0"
eth2_testnet_config = { path = "../eth2/utils/eth2_testnet_config" }
dirs = "2.0"
genesis = { path = "../beacon_node/genesis" }
deposit_contract = { path = "../eth2/utils/deposit_contract" }
tree_hash = { path = "../eth2/utils/tree_hash" }
clap_utils = { path = "../eth2/utils/clap_utils" }
eth2-libp2p = { path = "../beacon_node/eth2-libp2p" }
