[package]
name = "lcli"
description = "Lighthouse CLI (modeled after zcli)"
version = "0.1.0"
authors = ["Paul Hauner <paul@paulhauner.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = "2.33"
hex = "0.3"
log = "0.4"
serde = "1.0"
serde_yaml = "0.8"
simple_logger = "1.0"
types = { path = "../eth2/types" }
state_processing = { path = "../eth2/state_processing" }
eth2_ssz = { path = "../eth2/utils/ssz" }
regex = "1.3"
