[package]
name = "tree_hash"
version = "0.4.0"
authors = ["Paul Hauner <paul@paulhauner.com>"]
edition = "2018"
license = "Apache-2.0"
description = "Efficient Merkle-hashing as used in Ethereum 2.0"

[dev-dependencies]
rand = "0.7.3"
tree_hash_derive = "0.4.0"
types = { path = "../types" }
beacon_chain = { path = "../../beacon_node/beacon_chain" }
eth2_ssz = "0.4.0"
eth2_ssz_derive = "0.3.0"

[dependencies]
ethereum-types = "0.12.1"
eth2_hashing = "0.2.0"
smallvec = "1.6.1"

[features]
arbitrary = ["ethereum-types/arbitrary"]
