[package]
name = "lighthouse"
version = "1.0.6"
authors = ["Sigma Prime <contact@sigmaprime.io>"]
edition = "2018"
description = "Implementation of https://github.com/ethereum/eth2.0-specs in Rust."
license = "Apache-2.0"

# Configuration for building a .deb package - for use with `cargo-deb`
[package.metadata.deb]
name = "lighthouse"
extended-description = "Implementation of https://github.com/ethereum/eth2.0-specs in Rust."
section = "misc"
maintainer = "sean@sigmaprime.io"
license-file = ["../LICENSE", "0"]
# https://www.debian.org/doc/debian-policy/ch-maintainerscripts.html
maintainer-scripts = "../scripts/packaging/deb-maintainer-scripts"
assets = [
    ["../target/release/lighthouse", "/usr/bin/", "755"],
    ["../scripts/packaging/lighthousebeacon.service", "/lib/systemd/system/", "644"],
    ["../scripts/packaging/lighthousevalidator.service", "/lib/systemd/system/", "644"]
]
conf-files = [
    "/etc/default/lighthousebeacon",
    "/etc/default/lighthousevalidator"
]

[features]
# Writes debugging .ssz files to /tmp during block processing.
write_ssz_files = ["beacon_node/write_ssz_files"]
# Compiles the BLS crypto code so that the binary is portable across machines.
portable = ["bls/supranational-portable"]
# Compiles BLST so that it always uses ADX instructions.
modern = ["bls/supranational-force-adx"]
# Uses the slower Milagro BLS library, which is written in native Rust.
milagro = ["bls/milagro"]
# Support minimal spec (used for testing only).
spec-minimal = []
# Support spec v0.12 (used by Medalla testnet).
spec-v12 = []

[dependencies]
beacon_node = { "path" = "../beacon_node" }
tokio = "0.3.2"
slog = { version = "2.5.2", features = ["max_level_trace"] }
sloggers = "1.0.1"
types = { "path" = "../consensus/types" }
bls = { path = "../crypto/bls" }
clap = "2.33.3"
env_logger = "0.8.2"
logging = { path = "../common/logging" }
slog-term = "2.6.0"
slog-async = "2.5.0"
environment = { path = "./environment" }
boot_node = { path = "../boot_node" }
futures = "0.3.7"
validator_client = { "path" = "../validator_client" }
account_manager = { "path" = "../account_manager" }
clap_utils = { path = "../common/clap_utils" }
eth2_network_config = { path = "../common/eth2_network_config" }
directory = { path = "../common/directory" }
lighthouse_version = { path = "../common/lighthouse_version" }
account_utils = { path = "../common/account_utils" }
remote_signer = { "path" = "../remote_signer" }
tokio-compat-02 = "0.1"

[dev-dependencies]
tempfile = "3.1.0"
validator_dir = { path = "../common/validator_dir" }
slashing_protection = { path = "../validator_client/slashing_protection" }
