[package]
name = "lighthouse"
version = "0.1.2"
authors = ["Sigma Prime <contact@sigmaprime.io>"]
edition = "2018"

[features]
write_ssz_files = ["beacon_node/write_ssz_files"]  # Writes debugging .ssz files to /tmp during block processing.

[dependencies]
beacon_node = { "path" = "../beacon_node" }
tokio = "0.2.21"
slog = { version = "2.5.2", features = ["max_level_trace"] }
sloggers = "1.0.0"
types = { "path" = "../consensus/types" }
clap = "2.33.0"
env_logger = "0.7.1"
logging = { path = "../common/logging" }
slog-term = "2.5.0"
slog-async = "2.5.0"
environment = { path = "./environment" }
boot_node = { path = "../boot_node" }
futures = "0.3.5"
validator_client = { "path" = "../validator_client" }
account_manager = { "path" = "../account_manager" }
clap_utils = { path = "../common/clap_utils" }
eth2_testnet_config = { path = "../common/eth2_testnet_config" }

[dev-dependencies]
tempfile = "3.1.0"
validator_dir = { path = "../common/validator_dir" }
