[Unit]
Description=Lighthouse Ethereum Beacon Node
After=network.target
Wants=network.target

[Service]
Type=exec
DynamicUser=yes
StateDirectory=lighthouse
ExecStart=/usr/bin/lighthouse bn \
          --execution-endpoint http://localhost:8551 \
          --execution-jwt-secret-key 0000000000000000000000000000000000000000000000000000000000000000
          --datadir %S/lighthouse

[Install]
WantedBy=default.target
