[package]
name = "environment"
version = "0.1.2"
authors = ["Paul Hauner <paul@paulhauner.com>"]
edition = "2018"

[dependencies]
tokio = { version = "0.2.21", features = ["macros"] }
slog = { version = "2.5.2", features = ["max_level_trace"] }
sloggers = "1.0.0"
types = { "path" = "../../consensus/types" }
eth2_config = { "path" = "../../common/eth2_config" }
eth2_testnet_config = { path = "../../common/eth2_testnet_config" }
logging = { path = "../../common/logging" }
slog-term = "2.5.0"
slog-async = "2.5.0"
ctrlc = { version = "3.1.4", features = ["termination"] }
futures = "0.3.5"
parking_lot = "0.11.0"
slog-json = "2.3.0"
exit-future = "0.2.0"
lazy_static = "1.4.0"
lighthouse_metrics = { path = "../../common/lighthouse_metrics" }
discv5 = { version = "0.1.0-alpha.8", features = ["libp2p", "openssl-vendored"] }
