[package]
name = "environment"
version = "0.1.2"
authors = ["Paul Hauner <paul@paulhauner.com>"]
edition = { workspace = true }

[dependencies]
tokio = { workspace = true }
slog = { workspace = true }
sloggers = { workspace = true }
types = { workspace = true }
eth2_config = { workspace = true }
task_executor = { workspace = true }
eth2_network_config = { workspace = true }
logging = { workspace = true }
slog-term = { workspace = true }
slog-async = { workspace = true }
futures = { workspace = true }
slog-json = "2.3.0"
exit-future = { workspace = true }
serde = { workspace = true }
serde_derive = "1.0.116"

[target.'cfg(not(target_family = "unix"))'.dependencies]
ctrlc = { version = "3.1.6", features = ["termination"] }
