[package]
name = "ef_tests"
version = "0.2.0"
authors = ["Paul Hauner <paul@paulhauner.com>"]
edition = { workspace = true }

[features]
# `ef_tests` feature must be enabled to actually run the tests
ef_tests = []
milagro = ["bls/milagro"]
fake_crypto = ["bls/fake_crypto"]

[dependencies]
bls = { workspace = true }
compare_fields = { workspace = true }
compare_fields_derive = { workspace = true }
derivative = { workspace = true }
ethereum-types = { workspace = true }
hex = { workspace = true }
rayon = { workspace = true }
serde = { workspace = true }
serde_derive = "1.0.116"
serde_repr = { workspace = true }
serde_yaml = { workspace = true }
ethereum_ssz = { workspace = true }
ethereum_ssz_derive = { workspace = true }
tree_hash = { workspace = true }
tree_hash_derive = { workspace = true }
cached_tree_hash = { workspace = true }
state_processing = { workspace = true }
swap_or_not_shuffle = { workspace = true }
types = { workspace = true }
snap = { workspace = true }
fs2 = { workspace = true }
beacon_chain = { workspace = true }
store = { workspace = true }
fork_choice = { workspace = true }
execution_layer = { workspace = true }
