[package]
name = "store"
version = "0.2.0"
authors = ["Paul Hauner <paul@paulhauner.com>"]
edition = { workspace = true }

[dev-dependencies]
tempfile = { workspace = true }
beacon_chain = { workspace = true }

[dependencies]
db-key = "0.0.5"
leveldb = { version = "0.8" }
parking_lot = { workspace = true }
itertools = { workspace = true }
ethereum_ssz = { workspace = true }
ethereum_ssz_derive = { workspace = true }
superstruct = { workspace = true }
types = { workspace = true }
state_processing = { workspace = true }
slog = { workspace = true }
serde = { workspace = true }
lighthouse_metrics = { workspace = true }
lru = { workspace = true }
sloggers = { workspace = true }
directory = { workspace = true }
strum = { workspace = true }
xdelta3 = { workspace = true }
zstd = { workspace = true }
safe_arith = { workspace = true }
bls = { workspace = true }
smallvec = { workspace = true }
logging = { workspace = true }
